$bg-color: #ffffff;
$text-color: #010536ff;
$accent1: #46bb9c;
$accent2: #d92750;
$accent3: #f1a208ff;
$accent4: #838383;
$accent5: #005377ff;
$accent6: #bfa520;
$accent7: #06a77dff;
$accent8:#d8d8d8;
$headlines: 'Exo', sans-serif;
$text: 'Roboto', sans-serif;




